<div class="container">
    <!-- <h2>Submit Your Solution</h2> -->
    <div class="code-editor mt-4">
      <label for="languageSelect">Select Programming Language:</label>
      <select id="languageSelect" class="form-control" [(ngModel)]="selectedLanguage">
        <option value="cpp">C++</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <!-- Add more language options -->
      </select>
      <!-- <br> -->
      <!-- <h4>Write Your Code:</h4> -->
      <div class="editor-container">
        <ngx-codemirror
        [(ngModel)]="code"
        [options]="{
         lineNumbers: true,
        theme: 'material',
        mode: 'markdown'
         }"
></ngx-codemirror>
      </div>
      <!-- Include a code editor component (e.g., ngx-monaco-editor) here -->
    </div>
  
    <div class="mt-4">
      <button class="btn btn-primary" (click)="compileAndRun()">Compile/Run</button>
      <button class="btn btn-success " (click)="submitSolution()">Submit Solution</button>

    </div>
  
    <div *ngIf="outputMessage" class="mt-4">
      <h4>Output:</h4>
      <pre>{{ outputMessage }}</pre>
    </div>
  </div>
  